{% set mainNav = craft.navigate.raw('mainNav') %}

<nav class="main__nav">
    <div class="brand">
        <a href="{{ siteUrl }}">
            <img src="{{ siteUrl }}files/logo.png" alt="logoAltNav">
        </a>
        <i class="fas fa-bars toggle-icon"></i>
    </div>
    {% for node in mainNav %}
    <a href="{{ node.url }}" class="nav__item">{{ node.name }}</a>
    {% endfor %}

{#    {% set nav = craft.entries.section("login").one().url %}#}
    <a href="/" class="nav__item"><i class="fa-solid fa-cart-shopping"></i></a>
{#    <a href="{{ nav }}" class="nav__item"><i class="fa-solid fa-cart-shopping"></i></a>#}
    {#    <a href="" class="nav__item"><i class="fa-solid fa-user"></i></a>#}
</nav>