<body  id="achtergrond2">
<div class="product__header">
    <div class="product__top">
        <h1>{{ titel }}</h1>
        <p>{{ HoofdTekst }}</p>
    </div>
</div>

<!--search-->
<div class="product__search">
    <div class="product__layout">
        <div class="product__search__bar">
            <input type="text" placeholder="Zoeken..." v-model="zoektekst" @input="filterProducten">
            <button><i class="fas fa-search"></i></button>
        </div>
        <!-- filteropties -->
        <div class="product__filter">
            <span class="filter__option" @click="filteredProducts = dureProducts">{{ buttonFilter1 }}</span>
            <span class="filter__option" @click="filteredProducts = goedkopeProducts">{{ buttonFilter2 }}</span>
            <span class="filter__option" @click="filteredProducts = gemiddeldeProducts">{{ buttonFilter3 }}</span>
        </div>
    </div>
</div>


<ProductCardComponent
        :products="displayedProducts"
        :key="currentPage"
/>

<!--pagination-->
<div class="pagination" v-if="totalPages > 1">
    <ul>
        <li v-for="page in totalPages" :key="page">
            <a href="#" :class="{ active: currentPage === page }" @click="changePage(page)">
                {{ page }}
            </a>
        </li>
    </ul>
</div>
</body>