{% extends "index" %}

{% block content %}

{#    <div class="index__header">#}
{#            <div class="index__header__links">#}
{#                <h1>{{ entry.Hoofdtitel }}</h1>#}
{#                <p>{{ Hoofdtekst }}</p>#}
{#                <button type="button">{{  HoofdButton }}</button>#}
{#            </div>#}
{#            <div class="index__header__rechts">#}
{#                <img> {{ Afbeelding.url }} alt="{{ Afbeelding.title }}"#}
{#            </div>#}
{#        </div>#}
    <h1>hallo</h1>

{% endblock %}