<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://kit.fontawesome.com/6a30581523.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{siteUrl}}css/main.css">


    <!-- Link voor Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700" rel="stylesheet">
</head>
<body>
<div class="index__main">
    <div class="index__header">
        <div class="index__header__links">
            <h1> {{ Hoofdtitel }}</h1>
            <p>{{ Hoofdtekst }}</p>
            <button type="button">{{  HoofdButton }}</button>
        </div>
        <div class="index__header__rechts">
            <img :src="afbeelding1Pad" :alt="afbeelding1Alt">
        </div>
    </div>


    <!--in de kijker -->
    <PopularProductsComponent
            :carouselProducten="carouselProducten"
            :currentIndex="currentIndex"
            @prevProduct="prevProduct"
            @nextProduct="nextProduct"
            @showProductDetails="showProductDetails"/>

    <!--    rotating cards-->
    <div class="index__card">
        <h1>{{  titel2 }}</h1>
        <div class="index__card__rotate">
            <div class="index__card__rotate__special" id="card__1">
                <h2>{{  cardTitel1 }}</h2>
                <p>{{ cartTekst1 }}</p>
            </div>
            <div class="index__card__rotate__special" id="card__2">
                <h2>{{  cardTitel2 }}</h2>
                <p>{{ cartTekst2 }}</p>
            </div>
            <div class="index__card__rotate__special" id="card__3">
                <h2>{{ cardTitel3 }}</h2>
                <p>{{ cartTekst3 }}</p>
            </div>
        </div>
    </div>

    <!--contact us -->
    <div class="index__contact">
        <div class="index__contact__links">
            <img :src="afbeelding2Pad" :alt="afbeelding2Alt">
        </div>
        <div class="index__contact__rechts">
            <h1>{{ contactTitel }}</h1>
            <p>{{ contactTekst }}</p>
            <button type="button">{{ contactButton }}</button>
        </div>
    </div>
</div>


</body>
</html>
