{% extends "_layout.twig" %}

{% block content %}
<div class="index__main">
    <div class="index__header">
        <div class="index__header__links">
            <h1>{{ entry.hoofdtitel }}</h1>
            <p>{{ entry.hoofdtekst }}</p>
            <button type="button">{{  entry.hoofdbutton }}</button>
        </div>
        <div class="index__header__rechts">
            {% if entry.afbeelding|length %}
            {% set hero = entry.afbeelding.one() %}

            <img src="{{ hero.url }}" alt="{{ hero.title }}">
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </div>


{#    <!--in de kijker -->#}
{#    <PopularProductsComponent#}
{#            :carouselProducten="carouselProducten"#}
{#            :currentIndex="currentIndex"#}
{#            @prevProduct="prevProduct"#}
{#            @nextProduct="nextProduct"#}
{#            @showProductDetails="showProductDetails"/>#}

{#    <!--    rotating cards-->#}
    <div class="index__card">
        <h1>{{  entry.titel2 }}</h1>
        <div class="index__card__rotate">
            <div class="index__card__rotate__special" id="card__1">
                <h2>{{  entry.cardtitel1 }}</h2>
                <p>{{ entry.cardtekst1 }}</p>
            </div>
            <div class="index__card__rotate__special" id="card__2">
                <h2>{{  entry.cardtitel2 }}</h2>
                <p>{{ entry.cardtekst2 }}</p>
            </div>
            <div class="index__card__rotate__special" id="card__3">
                <h2>{{ entry.cardtitel3 }}</h2>
                <p>{{ entry.cardtekst3 }}</p>
            </div>
        </div>
    </div>

    <!--contact us -->
    <div class="index__contact">
        <div class="index__contact__links">
            {% if entry.afbeelding2|length %}
                {% set contactpic = entry.afbeelding2.one() %}

                <img src="{{ contactpic.url }}" alt="{{ contactpic.title }}">
            {% else %}
                <p></p>
            {% endif %}
        </div>
        <div class="index__contact__rechts">
            <h1>{{ entry.contactTitel }}</h1>
            <p>{{ entry.contactTekst }}</p>
            <button type="button">{{ entry.contactButton }}</button>
        </div>
    </div>
</div>

{% endblock %}