<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://kit.fontawesome.com/6a30581523.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ siteUrl }}css/main.css">


    <!-- Link voor Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700" rel="stylesheet">
</head>
<body>


<div class="index__main">
    <div class="index__header">
        <div class="index__header__links">
            <h1>{{ entry.hoofdtitel }}</h1>
            <p>{{ entry.hoofdtekst }}</p>
            <button type="button">{{  entry.hoofdbutton }}</button>
        </div>
        <div class="index__header__rechts">
            {% if entry.afbeelding|length %}
            {% set hero = entry.afbeelding.one() %}

            <img src="{{ hero.url }}" alt="{{ hero.title }}">
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </div>


{#    <!--in de kijker -->#}
{#    <PopularProductsComponent#}
{#            :carouselProducten="carouselProducten"#}
{#            :currentIndex="currentIndex"#}
{#            @prevProduct="prevProduct"#}
{#            @nextProduct="nextProduct"#}
{#            @showProductDetails="showProductDetails"/>#}

{#    <!--    rotating cards-->#}
    <div class="index__card">
        <h1>{{  entry.titel2 }}</h1>
        <div class="index__card__rotate">
            <div class="index__card__rotate__special" id="card__1">
                <h2>{{  entry.cardtitel1 }}</h2>
                <p>{{ entry.cardtekst1 }}</p>
            </div>
            <div class="index__card__rotate__special" id="card__2">
                <h2>{{  entry.cardtitel2 }}</h2>
                <p>{{ entry.cardtekst2 }}</p>
            </div>
            <div class="index__card__rotate__special" id="card__3">
                <h2>{{ entry.cardtitel3 }}</h2>
                <p>{{ entry.cardtekst3 }}</p>
            </div>
        </div>
    </div>

    <!--contact us -->
    <div class="index__contact">
        <div class="index__contact__links">
            {% if entry.afbeelding2|length %}
                {% set contactpic = entry.afbeelding2.one() %}

                <img src="{{ contactpic.url }}" alt="{{ contactpic.title }}">
            {% else %}
                <p></p>
            {% endif %}
        </div>
        <div class="index__contact__rechts">
            <h1>{{ entry.contactTitel }}</h1>
            <p>{{ entry.contactTekst }}</p>
            <button type="button">{{ entry.contactButton }}</button>
        </div>
    </div>
</div>


</body>
</html>
